<!DOCTYPE html>
<html lang="{$shopLang|default='ar'|htmlentities}" dir="{$shopLang=='ar'?'rtl':'ltr'}">
<head>
    {include file="common/meta" /}
    <link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="__CDN__/assets/css/shop.css?v={$Think.config.site.version|htmlentities}" rel="stylesheet">
</head>
<body class="shop-ease-body shop-center-page-body bg-slate-50">
<div class="shop-ease-page">
    {include file="common/shop_header" /}
    <main class="shop-ease-container">
        <div class="shop-center-shell">
            {include file="common/shop_center_sidebar" /}
            <div class="shop-center-content">
                <section class="shop-center-card">
                    <div class="shop-center-page-head">
                        <a class="shop-center-back" href="{:url('center/index', ['lang' => $shopLang])}"><i class="fa fa-angle-left"></i></a>
                        <div>
                            <h1>{:__('Shipping address')}</h1>
                        </div>
                    </div>
                    {if count($addresses)>0}
                    <div class="shop-address-page-list">
                        {volist name="addresses" id="address"}
                        <article>
                            <div class="shop-address-page-info">
                                <div>
                                    <strong>{$address.consignee|htmlentities}</strong>
                                    <span>{$address.mobile|htmlentities}</span>
                                    {if $address.is_default}<em>{:__('Default')}</em>{/if}
                                </div>
                                <p>{$address.address|htmlentities}</p>
                            </div>
                            <div class="shop-address-page-actions">
                                {if !$address.is_default}
                                <form method="post" action="{:url('center/address', ['lang' => $shopLang])}">
                                    <input type="hidden" name="action" value="set_default">
                                    <input type="hidden" name="id" value="{$address.id}">
                                    <button type="submit">{:__('Set default')}</button>
                                </form>
                                {/if}
                                <form method="post" action="{:url('center/address', ['lang' => $shopLang])}">
                                    <input type="hidden" name="action" value="delete">
                                    <input type="hidden" name="id" value="{$address.id}">
                                    <button type="submit" class="is-danger">{:__('Delete')}</button>
                                </form>
                            </div>
                        </article>
                        {/volist}
                    </div>
                    {else /}
                    <div class="shop-center-empty is-small">
                        <i class="fa fa-map-o"></i>
                        <p>{:__('No shipping address')}</p>
                    </div>
                    {/if}
                </section>

                <a class="shop-address-add-button" href="{:url('center/addressadd', ['lang' => $shopLang])}"><i class="fa fa-plus"></i> {:__('Add address')}</a>
            </div>
        </div>
    </main>
    {include file="common/shop_footer" /}
</div>
{include file="common/script" /}
</body>
</html>
