<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Level')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-level" data-rule="required" min="0" class="form-control" name="row[level]" type="number" value="{$row.level|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount_rate" data-rule="required" min="0" class="form-control" step="0.01" name="row[discount_rate]" type="number" value="{$row.discount_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Min_order_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min_order_amount" data-rule="required" min="0" class="form-control" step="0.01" name="row[min_order_amount]" type="number" value="{$row.min_order_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Min_pay_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min_pay_amount" data-rule="required" min="0" class="form-control" step="0.01" name="row[min_pay_amount]" type="number" value="{$row.min_pay_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Min_recharge_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min_recharge_amount" data-rule="required" min="0" class="form-control" step="0.01" name="row[min_recharge_amount]" type="number" value="{$row.min_recharge_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_default')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_default" data-rule="required" min="0" class="form-control selectpicker" name="row[is_default]">
                {foreach name="isDefaultList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_default"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
